LOG_LEVEL=INFO
ENV=PROD

# ROOT_PATH=

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=transcription_server_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

DEVICE=cpu
COMPUTE_TYPE=float16
BATCH_SIZE=4
CHUNK_SIZE=30

# Optimal settings for CUDA
#DEVICE=cuda
#COMPUTE_TYPE=float16
#BATCH_SIZE=16
#CHUNK_SIZE=30

HF_TOKEN=your_huggingface_token
