LOG_LEVEL=INFO

ROOT_PATH=/speech/api/v1

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=speech_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

REDIS_HOST=redis
REDIS_PORT=6379

DEVICE=cpu
COMPUTE_TYPE=float16
DOWNLOAD_ROOT=models
BATCH_SIZE=4
CHUNK_SIZE=30

# Optimal settings for CUDA
#DEVICE=cuda
#COMPUTE_TYPE=float16
#DOWNLOAD_ROOT=models
#BATCH_SIZE=16
#CHUNK_SIZE=30

HF_TOKEN=your_huggingface_token
